.insurance {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5rem 0;

  & .insurance-list {
    background-color: var(--secondary-green-1);
    max-width: 50%;

    & h2 {
      color: var(--text-dark-green);
      font-size: var(--font-h2);
      text-align: center;
      padding: 5rem 3rem 0 3rem;
    }

    & ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 5rem 3rem;
      gap: 3rem;
      width: 360px;
      max-width: 100%;

      & li {
        font-size: var(--font-md);
        list-style-type: disc;
        font-weight: 500;
      }
    }
  }

  & .insurance-image {
    display: flex;
    justify-content: end;
    align-items: center;
    max-width: 50%;
    & img {
      width: 60%;
    }
  }

  @media screen and (width <= 932px) {
    & .insurance-image {
      display: none;
    }
  }
  @media screen and (width <= 660px) {
    & .insurance-list {
      max-width: 100%;
    }
  }
  @media screen and (width <= 400px) {
    & .insurance-list {
      max-width: 80%;
    }
  }
}
